<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <app-custom-header></app-custom-header>
  <ion-card class="viewport">
    <ion-card-content>
      <h1>{{languages[lang].section}}</h1>
      <div class="cookies-policy-content">
        <strong [innerHTML]="languages[lang].title"></strong>
        <br>
        <br>
        <h1 [innerHTML]="languages[lang].subtitle"></h1>
        <br>
        <p [innerHTML]="languages[lang].titleHighlight"></p>
        <br>
        <strong [innerHTML]="languages[lang].whatIsTitle"></strong>
        <br>
        <p [innerHTML]="languages[lang].whatIsDescription"></p>
        <br>
        <strong [innerHTML]="languages[lang].whatTypeTitle"></strong>
        <br>
        <p [innerHTML]="languages[lang].whatTypeSubtitle"></p>
        <br>
        <strong [innerHTML]="languages[lang].whatTypeOneTitle"></strong>
        <br>
        <p [innerHTML]="languages[lang].whatTypeOneDescription"></p>
        <br>
        <strong [innerHTML]="languages[lang].whatTypeTwoTitle"></strong>
        <br>
        <p [innerHTML]="languages[lang].whatTypeTreeDescription"></p>
        <br>
        <strong [innerHTML]="languages[lang].whatTypeTreeTitle"></strong>
        <br>
        <p [innerHTML]="languages[lang].whatTypeTreeDescription"></p>
        <br>
        <strong [innerHTML]="languages[lang].anonymousTitle"></strong>
        <br>
        <p [innerHTML]="languages[lang].anonymousDescription"></p>
        <br>
        <strong [innerHTML]="languages[lang].manageCookiesTitle"></strong>
        <br>
        <p [innerHTML]="languages[lang].manageCookiesDescription"></p>
        <br>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-custom-footer *ngIf="screenW < 1180"></app-custom-footer>
