ion-content{
  ion-card{
    strong{
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 1180px) {
  ion-content{
    ion-card{
      margin-top: 100px;
      padding: 50px 25px;
    }
  }
}
@media screen and (min-width: 1px) and (max-width: 1179px) {
  ion-content{
    ion-card{
      margin-top: 30px;
      padding: 10px 5px;
    }
  }
}
