<app-cookies-policy-modal></app-cookies-policy-modal>
<ion-header class="fixed-var" *ngIf="screenW < 1179">
    <ion-buttons slot="start">
        <ion-menu-button name="btn"></ion-menu-button>
    </ion-buttons>
    <div [routerLink]="languages[lang].brandUrl" class="brand"></div>
    <div class="menu-user" hidden></div>
</ion-header>
<ion-header hidden class="move-var" *ngIf="screenW < 1179">
    <ion-buttons slot="start">
        <ion-menu-button name="btn-move"></ion-menu-button>
    </ion-buttons>
    <div [routerLink]="languages[lang].brandUrl" class="brand"></div>
    <div class="menu-user"></div>
</ion-header>


