/** Media types */
ion-header {
  position: fixed;
}
.move-var{
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background-color: var(--ion-color-primary);
  z-index: 101;
}
@media screen and (max-width: 1179px) and (min-width: 1px) {
}
