ion-content{
  .not-found{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/images/slider-home-two.jpg");
    background-position: center;
    background-size: cover;
    h1{
      font-size: 2rem;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}
