<ion-content class="ion-content">
  <app-custom-header></app-custom-header>
  <div class="not-found">
    <h1>404</h1>
  </div>
</ion-content>
<app-custom-footer *ngIf="screenW < 1180"></app-custom-footer>
