<app-custom-titlebar></app-custom-titlebar>
<ion-content >
<h1 text-center>{{languages[lang].title}}</h1>
<ion-grid>
  <ion-row>
    <ion-col size-sm="4" size-xs="6" *ngFor="let item of items;"> 
      <div>
        <app-custom-thumbnail [titulo]="item[lang]" [link]="ruta+'/1'" [imagen]="item.img"></app-custom-thumbnail>
      </div>
    </ion-col>
   
  </ion-row>
</ion-grid>
</ion-content>
<app-custom-toolbar></app-custom-toolbar>