 ion-segment-button ion-label{color:var(--ion-color-primary);  font-size:1.3rem;   font-family: 'Barlow Condensed', sans-serif;}
.segment-button-checked{--btn-border-color:var(--ion-color-primary)}
blockquote > span{color:#fff}
.vt{vertical-align:top;     margin: 20px 10px 0 0;}
.ib{display:inline-block}
.button-blank {margin:0; background:none;border-color:var(--ion-color-primary); color:var(--ion-color-primary); font-size:1.2rem; text-transform:none}
.button-blank ion-icon{vertical-align:middle; margin-right:10px}
blockquote.dark{margin:30px 0}
blockquote.dark > h2{margin-top:0}
