<app-custom-titlebar></app-custom-titlebar>
<ion-content >
<h1 text-center>{{languages[lang].title}}</h1>
<ion-segment [(ngModel)]="vista">
  <ion-segment-button value="m">
    <ion-label>{{languages[lang].segment1}}</ion-label>
  </ion-segment-button>
  <ion-segment-button value="e">
    <ion-label>{{languages[lang].segment2}}</ion-label>
  </ion-segment-button>
  <ion-segment-button value="x">
    <ion-label>{{languages[lang].segment3}}</ion-label>
  </ion-segment-button>
</ion-segment>
<div [ngSwitch]="vista">
   <div *ngSwitchCase="'m'" >
   <ion-img src="assets/images/our-stores/bn-mobiliario.jpg"></ion-img>
   <blockquote text-right [innerHTML]="languages[lang].blockquote_mobiliario"></blockquote>
   <blockquote class="dark">
     <h2>{{languages[lang].segment1}}</h2><img src="assets/icons/svg/pin.svg" class="vt" /> <p class="ib" [innerHTML]="languages[lang].address_mobiliario"></p>
     <div><button class="button-blank"><ion-icon slot="start" name="mail"></ion-icon>{{languages[lang].contacta}} {{languages[lang].segment1}}</button></div>
   </blockquote>
   </div>
    <div *ngSwitchCase="'e'" >
    <ion-img src="assets/images/our-stores/bn-estudio.jpg"></ion-img>
   <blockquote text-right [innerHTML]="languages[lang].blockquote_estudio"></blockquote>    
   <blockquote class="dark">
       <h2>{{languages[lang].segment2}}</h2><img src="assets/icons/svg/pin.svg" class="vt" /> <p class="ib" [innerHTML]="languages[lang].address_estudio"></p>
<div><button class="button-blank"><ion-icon slot="start" name="mail"></ion-icon>{{languages[lang].contacta}} {{languages[lang].segment2}}</button></div>
   </blockquote>   
   </div>
  <div *ngSwitchCase="'x'" >
  <ion-img src="assets/images/our-stores/bn-maxalto.jpg"></ion-img>
  <blockquote text-right [innerHTML]="languages[lang].blockquote_maxalto"></blockquote>
   <blockquote class="dark">
       <h2>{{languages[lang].segment3}}</h2><img src="assets/icons/svg/pin.svg" class="vt" /> <p class="ib" [innerHTML]="languages[lang].address_maxalto"></p>
<div><button class="button-blank"><ion-icon slot="start" name="mail"></ion-icon>{{languages[lang].contacta}} {{languages[lang].segment3}}</button></div>
   </blockquote>  
   </div>
</div>   
<ion-img src="assets/images/our-stores/mapa.jpg"></ion-img>
</ion-content>
<app-custom-toolbar></app-custom-toolbar>
