<app-custom-titlebar></app-custom-titlebar>
<ion-content >
<h1 text-center>{{languages[lang].title}}</h1>
<div class="padded">
<p [innerHTML]="languages[lang].paragraph1"></p>
</div>
<hr />
<div class="padded">
<p [innerHTML]="languages[lang].paragraph2"></p>
</div>
<app-image-fade [imagen]="'interior-design/image.jpg'"></app-image-fade>
</ion-content>
<app-custom-toolbar></app-custom-toolbar>