 ion-toolbar {
    background: url('assets/images/header-bg.jpg') no-repeat; 
    text-align:center;
    color:#fff;
    font-family: 'Playfair Display', serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
 }
ion-toolbar ion-title {
  font-weight:700;
  font-size:1.5rem;
}