ion-content {
  .header-about-us {
    background-size: cover;
    background-position: top;
    ion-slide {
      .slide{
        position: relative;
        display: block;
        background-size: cover;
        background-position: center;
      }
    }
  }
  .work-with-us, .contact{
    position: relative;
    background-position: center;
    background-size: cover;
    .text{
      position: absolute;
      text-align: center;
      h3{
      }
    }
  }
  .work-with-us{
    background-image: url("/assets/images/about-work.jpg");
    .text{
      text-align: center;
      -webkit-transform: translate(-50%, 30px);
      -moz-transform: translate(-50%, 30px);
      -ms-transform: translate(-50%, 30px);
      -o-transform: translate(-50%, 30px);
      transform: translate(-50%, 30px);
    }
  }
  .contact{
    background-image: url("/assets/images/about-contact.jpg");
    .text{
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}
@media screen and (min-width: 1180px) {
  ion-content {
    .header-about-us {
      height: 100vh;
      ion-slide {
        width: 100vw;
        height: 100vh;
        .slide{
          width: 100vw;
          height: 100vh;
        }
      }
    }
    .work-with-us, .contact{
      .text{
        h3{
          margin-bottom: 50px;
        }
      }
    }
    .work-with-us{
      height: 695px;
      .text{
        top: 60px;
        left: 50%;
      }
    }
    .contact{
      height: 340px;
      .text{
        top: 60%;
        left: 30%;
      }
    }
  }}

@media screen and (min-width: 1px) and (max-width: 1179px) {
  ion-content {
    .header-about-us {
      height: calc(100vh - 52px);
      ion-slides{
        height: 100%;
        ion-slide{
          width: 100vw;
          height: 100%;
          .slide{
            width: 100vw;
            height: 100%;
            .slide-content{
              p{
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
    .work-with-us, .contact{
      .text{
        width: 80%;
        h3{
          margin-bottom: 30px;
        }
      }
    }
    .work-with-us{
      height: 695px;
      .text{
        top: 60px;
        left: 50%;
      }
    }
    .contact{
      height: 340px;
      background-position: 80%;
      .text{
        top: 70%;
        left: 50%;
        width: 80%;
      }
    }
  }
}
