<ion-content class="ion-content" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <app-custom-header></app-custom-header>
  <div class="header-about-us">
    <ion-slides #slides [pager]="true" [options]="{autoplay: true, slidesPerView: 1, spaceBetween: 0, centeredSlides: true, speed: 1300, longSwipesMs: 5000}">
      <ion-slide *ngFor="let s of slider; let i = index">
        <div class="slide" [ngStyle]="{'background-image': 'url(' + s.image + ')'}"></div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="intro-content">
    <h1 [innerHTML]="(aboutUsSection | async)?.title"></h1>
    <p [innerHTML]="(aboutUsSection | async)?.intro"></p>
  </div>
  <div class="sections-content">
    <div class="sea-club">
      <div class="image" [ngStyle]="{'background-image': 'url(' + (philosophySection | async)?.image + ')'}"></div>
      <div class="text-content">
        <div class="position">
          <h2 [innerHTML]="(philosophySection | async)?.title"></h2>
          <p [innerHTML]="(philosophySection | async)?.intro"></p>
          <div class="highlight" [innerHTML]="(philosophySection | async)?.details"></div>
          <div class="clear">
            <div class="button-primary" [routerLink]="(philosophySection | async)?.url">{{(commonLanguages | async)?.textButton}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="space"></div>
    <div class="work-with-us">
      <div class="text">
        <h3 style="color: #fff;" [innerHTML]="(aboutUsSection | async)?.workWithUsDetail"></h3>
        <div class="button-blank" [routerLink]="(workWithUsSection | async)?.url">{{(commonLanguages | async)?.textButton}}</div>
      </div>
    </div>
    <div class="space"></div>
    <div class="contact">
      <div class="text">
        <div class="viewport">
          <h3 style="color: #fff;max-width: 500px;" [innerHTML]="(aboutUsSection | async)?.contactDetail"></h3>
          <div class="button-blank" [routerLink]="(contactSection | async)?.url">{{(commonLanguages | async)?.contactButton}}</div>
        </div>
      </div>
    </div>
    <div class="space"></div>
    <div class="space"></div>
  </div>
</ion-content>
<app-custom-footer *ngIf="screenW < 1180"></app-custom-footer>
