ion-icon {
    &.bigger {
      width: 28x;
      height: 28px;
    }    
    &.red {
      color: red;
    }
}
ion-toolbar{background-color:#fff}
ion-toolbar > div{width:20%; display:inline-block; text-align:center }
ion-fab{ bottom:20px;--width:75px   }
ion-fab-button{  --box-shadow: 0 0 0; --background:none; --width:75px  }
ion-fab-button ion-icon{font-size:86px}