<ion-toolbar slot="bottom">
<div>
     <ion-button fill="clear">
          <ion-icon slot="icon-only" src="assets/icons/svg/footer/call.svg"></ion-icon>
     </ion-button>
</div>  
<div>   
       <ion-button fill="clear">
         <ion-icon  slot="icon-only" src="assets/icons/svg/footer/envelope.svg"></ion-icon>
       </ion-button> 
</div>
<div></div>
<div>
       <ion-button fill="clear">
         <ion-icon class="bigger" slot="icon-only" src="assets/icons/svg/footer/pin.svg"></ion-icon>
        </ion-button>
</div>
<div>        
        <ion-button fill="clear">
        <ion-icon slot="icon-only" src="assets/icons/svg/footer/instagram.svg"></ion-icon>
        </ion-button>
</div>
 </ion-toolbar>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
       <ion-icon src="assets/icons/svg/footer/logo-footer.svg"></ion-icon>
    </ion-fab-button>
</ion-fab>