<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <app-custom-header></app-custom-header>
  <ion-card class="viewport">
    <ion-card-content>
      <h1 style="margin-bottom: 15px;">{{languages[lang].title}}</h1>
      <div class="cookies-policy-content">
        <strong [innerHTML]="languages[lang].title"></strong>
        <p [innerHTML]="languages[lang].text"></p>
        <div *ngFor="let t of languages[lang].arrayText">
          <strong [innerHTML]="t.title"></strong>
          <div [innerHTML]="t.text"></div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-custom-footer *ngIf="screenW < 1180"></app-custom-footer>
