<ion-content >
 <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<div id="drawer" #drawer [@changeDivSize]="{value: currentState, params: {position1: v1, position2: v2, position3: v3}}" [style.height.px]="viewHeight">
<div class="dragger" (click)="changeState()" >
	<ion-grid>
  <ion-row>
    <ion-col>
    <div class="tpadded">
    <button ion-button icon-only class="button-primary bround">
    <ion-icon name="call" (click)="goTo('tel:+34871038018')"></ion-icon>
    </button>
    <br />Llamanos
     </div>
    </ion-col>
    <ion-col>
      <div class="tpadded">
    <button ion-button icon-only class="button-primary bround">
    <ion-icon name="pin" (click)="goTo('tel:+34871038018')"></ion-icon>
    </button>
    <br />Dirección
     </div>
    </ion-col>
    <ion-col>
       <div class="tpadded">
    <button ion-button icon-only class="button-primary bround">
    <ion-icon name="mail" (click)="changeState()"></ion-icon>
    </button>
    <br />Escríbenos
     </div>
    </ion-col>
  </ion-row>
</ion-grid>  

</div>

<div class="sections-content">
<hr />

    <div class="viewport">
      <div class="column-width">
     
        <form [formGroup]="createContactForm" (submit)="sendContactForm()">
          <ion-grid>
           <ion-row>
          <ion-col> <h2>Escríbenos</h2></ion-col>
           </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input formControlName="name" type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-input formControlName="email" type="email"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Asunto</ion-label>
                  <ion-input formControlName="subject" type="text"></ion-input>
                </ion-item>
                </ion-col>
                </ion-row>
                <ion-row>
                <ion-col>
                <ion-item>
                  <ion-label position="floating">Mensaje</ion-label>
                  <ion-textarea formControlName="message" type="textarea" [rows]="6"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
            
                <ion-grid> 
                  <ion-row>
                    <ion-col size="2">
                      <ion-checkbox formControlName="policy" style="display: inline-block; vertical-align: bottom;"></ion-checkbox>
                    </ion-col>
                    <ion-col size="10">
                      <p [innerHTML]="languages[lang].contactForm.policy" routerLink="{{languages[lang].contactForm.url}}" style="display: inline-block; margin: 0;"></p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2">
                      <ion-checkbox checked="false" formControlName="offerAgree" style="display: inline-block; vertical-align: bottom"></ion-checkbox>
                    </ion-col>
                    <ion-col size="10">
                      <p [innerHTML]="languages[lang].contactForm.offerAgree" routerLink="{{languages[lang].contactForm.urlMarketing}}" style="display: inline-block; margin: 0;"></p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col >
                <button class="submit button-primary" type="submit" [disabled]="!createContactForm.valid">{{languages[lang].contactForm.button}}</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>
  
    </div>
  </div>



</div>

</ion-content>

