::-webkit-scrollbar, *::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

ion-content {
  overflow: hidden;
  --overflow: hidden;
}

.scroll-content {
  overflow: hidden;
}
  ion-infinite-scroll.md.infinite-scroll-enabled.hydrated {
      overflow: scroll!important;
      height: 100%!important;
    }
ion-content{
 agm-map {
  height: 100%;
}
hr{margin-top:0;}
.dragger{height:100px;width:100%; background-color: #000;     border-radius: 25px 25px 0px 0px;}
#drawer{position:absolute;width:100%; left:0; z-index:999}
.tpadded{padding-top:25px; text-align:center; color:#fff; text-transform:uppercase;font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;}
.bround{border-radius: 50%;margin:0; padding:10px; color:#000; font-size:1.6rem; background-color: var(--ion-color-primary);}
.submit.button-primary{background-color: var(--ion-color-primary); color:#fff; padding:20px 30px; font-size:1.3rem}
.sections-content{
background-color:#000;padding-top: 20px;
 .column-width{
      display: inline-block;
      vertical-align: top;
      ul{
        padding: 0;
        margin: 0;
        li{
          &::before{
            content: '';
          }
        }
      }
      .schedules, .where-we-are, .contact{
        .title{
          text-transform: uppercase;
          color: var(--ion-color-primary);
          font-weight: 500 !important;
        }
        a{
          font-size: 16px !important;
        }
      }
      ion-label{
        color: #4a4a4a;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
}
}
