ion-content{
  .header-contact{
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/images/music-subscribe.jpg");
  }
  .sections-content{
    .column-width{
      display: inline-block;
      vertical-align: top;
      ul{
        padding: 0;
        margin: 0;
        li{
          &::before{
            content: '';
          }
        }
      }
      .schedules, .where-we-are, .contact{
        .title{
          text-transform: uppercase;
          color: var(--ion-color-primary);
          font-weight: 500 !important;
        }
        a{
          font-size: 16px !important;
        }
      }
      ion-label{
        color: #4a4a4a;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (min-width: 1180px) {
  .sections-content{
    padding: 50px 0;
    .column-width{
      width: calc(100% / 2);
      ion-label {
        padding-left: 15px;
      }
      .schedules, .where-we-are, .contact{
        margin-left: 50px;
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 1179px) {
  ion-content{
    .intro-content{
      padding: 30px 0;
      h1{
        max-width: 90%;
      }
    }
    .sections-content{
      padding: 0;
      .text-content{
        padding: 30px;
      }
      .column-width{
        .schedules, .where-we-are{
          padding: 0 30px;
        }
        .contact{
          padding: 0 30px 30px 30px;
        }
      }
    }
    .item-native{
      padding: 0 !important;
    }
  }
}
