<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <app-custom-header></app-custom-header>
  <div class="header-contact"></div>
  <div class="intro-content">
    <h1 [innerHTML]="(contactSection | async)?.title"></h1>
    <p [innerHTML]="(contactSection | async)?.intro"></p>
  </div>
  <div class="sections-content">
    <div class="viewport">
      <div class="column-width">
        <form [formGroup]="createContactForm" (submit)="sendContactForm()">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">{{(commonLanguages | async)?.name}}</ion-label>
                  <ion-input formControlName="name" type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">{{(commonLanguages | async)?.email}}</ion-label>
                  <ion-input formControlName="email" type="email"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">{{(commonLanguages | async)?.subject}}</ion-label>
                  <ion-input formControlName="subject" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">{{(commonLanguages | async)?.message}}</ion-label>
                  <ion-textarea formControlName="message" type="textarea" [rows]="10"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-grid *ngIf="screenW > 1180">
                  <ion-row>
                    <ion-col size="1">
                      <ion-checkbox formControlName="policy" style="display: inline-block; vertical-align: bottom;"></ion-checkbox>
                    </ion-col>
                    <ion-col size="11">
                      <p [innerHTML]="languages[lang].contactForm.policy" routerLink="{{languages[lang].contactForm.url}}" style="font-size: 11px; display: inline-block; margin: 0;"></p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="1">
                      <ion-checkbox checked="false" formControlName="offerAgree" style="display: inline-block; vertical-align: bottom"></ion-checkbox>
                    </ion-col>
                    <ion-col size="11">
                      <p [innerHTML]="languages[lang].contactForm.offerAgree" routerLink="{{languages[lang].contactForm.urlMarketing}}" style="font-size: 11px; display: inline-block; margin: 0;"></p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid *ngIf="screenW <= 1180">
                  <ion-row>
                    <ion-col size="2">
                      <ion-checkbox formControlName="policy" style="display: inline-block; vertical-align: bottom;"></ion-checkbox>
                    </ion-col>
                    <ion-col size="10">
                      <p [innerHTML]="languages[lang].contactForm.policy" routerLink="{{languages[lang].contactForm.url}}" style="display: inline-block; margin: 0;"></p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="2">
                      <ion-checkbox checked="false" formControlName="offerAgree" style="display: inline-block; vertical-align: bottom"></ion-checkbox>
                    </ion-col>
                    <ion-col size="10">
                      <p [innerHTML]="languages[lang].contactForm.offerAgree" routerLink="{{languages[lang].contactForm.urlMarketing}}" style="display: inline-block; margin: 0;"></p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <button class="button-primary" type="submit" [disabled]="!createContactForm.valid">{{languages[lang].contactForm.button}}</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>
      <div class="form-contact column-width">
        <div class="schedules container">
          <p class="title">{{languages[lang].schedulesTitle}}</p>
          <div class="submenu-container">
            <ul class="schedules-submenu">
              <li>
                <p>{{languages[lang].beachClub}}</p>
                <p>{{languages[lang].swimmingPool}}</p>
                <p>{{languages[lang].restaurant}}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="where-we-are container">
          <p class="title">{{languages[lang].whereTitle}}</p>
          <div class="submenu-container">
            <ul class="where-we-are-submenu">
              <li [innerHTML]="languages[lang].whereText"></li>
            </ul>
          </div>
        </div>
        <div class="contact container">
          <p class="title">{{languages[lang].contactTitle}}</p>
          <div class="submenu-container">
            <ul class="contact-submenu">
              <li [innerHTML]="languages[lang].contactText"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-custom-footer *ngIf="screenW < 1180"></app-custom-footer>
