<aside class="cookies-module" [ngClass]="[show, active]">
    <div class="hex-content">
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
    </div>
    <div class="wrap-cookies">
        <div class="cookies-icon"><ion-icon name="warning" style="font-size: 40px;"></ion-icon></div>
        <p class="cookies-title">{{languages[lang].title}}</p>
        <div (click)="putCookie();" class="cookies-btn btn-corp button-blank js-close-cookies">
            {{languages[lang].ok}}</div>
        <a class="cookies-info" routerLink="{{languages[lang].url}}">{{languages[lang].more}}</a>
    </div>
</aside>
