.cookies-module {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  border-radius: 0;
  overflow: hidden;
  width: 250px;
  height: 250px;
  color: #fff;
  // background-color: var(--ion-color-primary);
  display: none;
  -webkit-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
  -moz-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
  -ms-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
  -o-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
  &.show{
    display: block;
  }
  &.active{
    &::before{
      -webkit-transform: skew(45deg) translateX(0%) translateZ(0);
      -moz-transform: skew(45deg) translateX(0%) translateZ(0);
      -ms-transform: skew(45deg) translateX(0%) translateZ(0);
      -o-transform: skew(45deg) translateX(0%) translateZ(0);
      transform: skew(45deg) translateX(0%) translateZ(0);
      opacity: 1;
    }
  }
  /*
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: -10%;
    -webkit-transform: skew(45deg) translateX(-100%) translateZ(0);
    -moz-transform: skew(45deg) translateX(-100%) translateZ(0);
    -ms-transform: skew(45deg) translateX(-100%) translateZ(0);
    -o-transform: skew(45deg) translateX(-100%) translateZ(0);
    transform: skew(45deg) translateX(-100%) translateZ(0);
    width: 120%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    -moz-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    -ms-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    -o-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
    background-color: rgba(3, 57, 87, 0.5);
    opacity: 0;
    will-change: transform;
  }
  */
  .wrap-cookies {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    opacity: 1;
    -webkit-transition: all cubic-bezier(0.785,0.135,0.15,0.86) .7s;
    -moz-transition: all cubic-bezier(0.785,0.135,0.15,0.86) .7s;
    -ms-transition: all cubic-bezier(0.785,0.135,0.15,0.86) .7s;
    -o-transition: all cubic-bezier(0.785,0.135,0.15,0.86) .7s;
    transition: all cubic-bezier(0.785,0.135,0.15,0.86) .7s;
  }
  .btn-corp {
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    padding: 5px 20px;
    border: 1.5px solid #fff;
    margin: 10px auto;
    font-size: 18px;
    font-weight: 500;
  }
  .cookies-info {
    text-align: center;
    position: relative;
    display: block;
    font-family: "Barlow Condensed",sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    padding: 0 1px 3px;
    text-decoration: none;
  }
  p{
    color: #fff;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 24px !important;
  }
  .hex-content{
    position: absolute;
    display: inline-block;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    .box-1{
      width: 0;
      border-bottom: 52px solid rgba(140, 174, 168, 0.75);
      border-left: calc(198px / 2) solid transparent;
      border-right: calc(198px / 2) solid transparent;
    }
    .box-2{
      width: 198px;
      height: 140px;
      background-color: rgba(140, 174, 168, 0.75);
    }
    .box-3{
      width: 0;
      border-top: 52px solid rgba(140, 174, 168, 0.75);
      border-left: calc(198px / 2) solid transparent;
      border-right: calc(198px / 2) solid transparent;
    }
  }
}
