.image-wrapper {
  position:relative;
  font-size: 0; 
  width: 100%;
  &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 100%;
      left:0;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.0) 0%,
        rgba(0, 0, 0, 0.0) 60%,
        // These three 'smooth' out the fade.
        rgba(0, 0, 0, 0.2) 70%,
        rgba(0, 0, 0, 0.7)  80%,
        rgba(0, 0, 0, 0.9)  95%,
        // Solid to match the background.
        rgba(0, 0, 0, 1.0)  100%
      );
    };
}
