<ion-app>
  <ion-buttons slot="start" *ngIf="screenW < 1179">
    <ion-menu-button name="btn"></ion-menu-button>
  </ion-buttons>
  <ion-split-pane when="" *ngIf="screenW < 1179">
    <ion-menu class="custom-menu">
      <ion-nav class="menu-container">
        <ion-menu-toggle>
          <div class="brand" routerLink="/"></div>
        </ion-menu-toggle>
        <div class="scroll-zone">
          <ul>
            <li>
              <p class="dropDownMenu" data-id="0">{{appPages[0]?.title}}</p>
            </li>
            <li class="dropDown menu-0" style="position: relative;">
              <ul style="position: relative">
                <ion-menu-toggle routerLink="{{p.url}}" *ngFor="let p of appPages[0]?.submenu">
                  <li [innerHTML]="p.title"></li>
                </ion-menu-toggle>
              </ul>
            </li>
          </ul>
          <ul>
            <ion-menu-toggle auto-hide="false" routerLink="{{appPages[1]?.url}}">
              <li>
                <p>{{appPages[1]?.title}}</p>
              </li>
            </ion-menu-toggle>
          </ul>
          <ul>
            <li>
              <p class="dropDownMenu" data-id="2">{{appPages[2]?.title}}</p>
            </li>
            <li class="dropDown menu-2" style="position: relative;">
              <ul style="position: relative">
                <ion-menu-toggle routerLink="{{p.url}}" *ngFor="let p of appPages[2]?.submenu">
                  <li [innerHTML]="p.title"></li>
                </ion-menu-toggle>
              </ul>
            </li>
          </ul>
          <ul>
            <li>
              <p class="dropDownMenu" data-id="3">{{appPages[3]?.title}}</p>
            </li>
            <li class="dropDown menu-3" style="position: relative;">
              <ul style="position: relative">
                <ion-menu-toggle routerLink="{{p.url}}" *ngFor="let p of appPages[3]?.submenu">
                  <li [innerHTML]="p.title"></li>
                </ion-menu-toggle>
              </ul>
            </li>
          </ul>
          <ul style="border-bottom: 1px solid #fff;">
            <li>
              <p class="dropDownMenu" data-id="4">{{appPages[4]?.title}}</p>
            </li>
            <li class="dropDown menu-4" style="position: relative;">
              <ul style="position: relative">
                <ion-menu-toggle routerLink="{{p.url}}" *ngFor="let p of appPages[4]?.submenu">
                  <li [innerHTML]="p.title"></li>
                </ion-menu-toggle>
              </ul>
            </li>
          </ul>
        </div>
        <ion-nav class="language-switcher">
          <div class="lang">
            <ul>
              <li (click)="presentPopoverMobile()">{{currentLang}}</li>
            </ul>
          </div>
        </ion-nav>
        <div class="address">
          <p [innerHTML]="languages[lang].address"></p>
        </div>
      </ion-nav>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
  <div class="header-desktop fixed-var" *ngIf="screenW >= 1180" (mouseleave)="hideAllMenu()">
    <div class="viewport">
      <div class="menu">
        <div class="viewport">
          <ul>
            <li class="hasSubmenu" (mouseover)="showSubMenu(0)">
              <div class="content-menu">
                <ul>
                  <li [routerLink]="[appPages[0]?.url]" [innerHTML]="appPages[0]?.title"></li>
                  <li class="submenu menu-0">
                    <ul (mouseleave)="hideSubMenu(0)">
                      <li routerLink="{{p.url}}" *ngFor="let p of appPages[0]?.submenu" [innerHTML]="p.title"></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <ul>
            <li auto-hide="false" routerLink="{{appPages[1]?.url}}" [innerHTML]="appPages[1]?.title"></li>
          </ul>
          <ul>
            <li class="hasSubmenu" (mouseover)="showSubMenu(2)">
              <div class="content-menu">
                <ul>
                  <li [routerLink]="[appPages[2]?.url]" [innerHTML]="appPages[2]?.title"></li>
                  <li class="submenu menu-2">
                    <ul (mouseleave)="hideSubMenu(2)">
                      <li routerLink="{{p.url}}" *ngFor="let p of appPages[2]?.submenu" [innerHTML]="p.title"></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <ul>
            <li class="hasSubmenu" (mouseover)="showSubMenu(3)">
              <div class="content-menu">
                <ul>
                  <li [routerLink]="[appPages[3]?.url]" [innerHTML]="appPages[3]?.title"></li>
                  <li class="submenu menu-3">
                    <ul (mouseleave)="hideSubMenu(3)">
                      <li routerLink="{{p.url}}" *ngFor="let p of appPages[3]?.submenu" [innerHTML]="p.title"></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <ul>
            <li class="hasSubmenu" (mouseover)="showSubMenu(4)">
              <div class="content-menu">
                <ul>
                  <li [routerLink]="[appPages[4]?.url]" [innerHTML]="appPages[4]?.title"></li>
                  <li class="submenu menu-4">
                    <ul (mouseleave)="hideSubMenu(4)">
                      <li routerLink="{{p.url}}" *ngFor="let p of appPages[4]?.submenu" [innerHTML]="p.title"></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <ul class="language-switcher" style="margin: 0; display: inline-block">
            <li class="hasSubmenu" (mouseover)="showSubMenu(10)">
              <div class="content-menu">
                <ul>
                  <li class="submenu menu-10">
                    <ul (mouseleave)="hideSubMenu(10)">
                      <li (click)="langSwitch('es')">Español</li>
                      <li (click)="langSwitch('en')">English</li>
                      <li (click)="langSwitch('de')">Deutsch</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="user" hidden></div>
        </div>
      </div>
    </div>
  </div>
  <ion-router-outlet *ngIf="screenW >= 1180" main></ion-router-outlet>
</ion-app>
