<ion-content class="ion-content" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <app-custom-header></app-custom-header>
  <div class="header-events"></div>
  <div class="intro-content">
    <h2 [innerHTML]="(newsSection | async)?.title"></h2>
    <p class="subtitle" [innerHTML]="(newsSection | async)?.intro"></p>
  </div>
  <div class="news">
    <div class="viewport">
      <div class="news-list">
        <div class="text" *ngFor="let n of news | async" [routerLink]="n.id" (mouseover)="addShadow()" [ngStyle]="shadow" (mouseout)="delShadow()">
          <div class="image">
            <img src="{{n.image}}" alt="{{n.image}}" />
            <p [innerHTML]="n.label"></p>
            <h3 [innerHTML]="n.title"></h3>
            <p [innerHTML]="n.timestamp"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="events">
    <h2 [innerHTML]="(events | async)?.title"></h2>
    <p class="subtitle" [innerHTML]="(events | async)?.intro"></p>
    <div class="viewport">
      <div padding-start class="scrolling-wrapper list-blog viewport">
        <ion-card *ngFor="let n of upcomingEvents | async; let i = index" [routerLink]="'/upcoming-events/' + n.id" id="#{{n.id}}" (mouseover)="addShadow(n.id)" (mouseout)="delShadow(n.id)">
          <div class="card-content" [ngStyle]="{'background-image': 'url(' + n.image + ')'}">
            <div class="text">
              <span class="category" [innerHTML]="n.category"></span>
              <span class="date" [innerHTML]="date[i]"></span>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
    <div class="button-secondary" [routerLink]="(events | async)?.url">{{(commonLanguages | async)?.textButton}}</div>
  </div>
  <div class="space" *ngIf="screenW > 1180"></div>
  <div class="space" *ngIf="screenW > 1180"></div>
  <div class="space" *ngIf="screenW > 1180"></div>
  <div class="space"></div>
</ion-content>
<app-custom-footer *ngIf="screenW < 1180"></app-custom-footer>
