ion-content{
  .header-events{
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/images/events-header.jpg");
  }
  .events, .news{
    position: relative;
    text-align: center;
    h2{
      color: var(--ion-color-tertiary);
      margin: 25px auto;
    }
    ion-card{
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      .card-content{
        position: relative;
        .text{
          .category{
            background-color: #fff;
            color: var(--ion-color-tertiary);
            padding: 7px 15px;
            margin: 15px 0 0 10px;
            float: left;
            font-size: 12px;
            font-weight: 700;
          }
          .date{
            background-color: var(--ion-color-tertiary);
            color: #fff;
            padding: 7px 15px;
            margin: 0;
            float: right;
            font-size: 13px;
            font-weight: 700;
          }
        }
      }
    }
  }
  .news{
    position: relative;
    text-align: center;
    h2{
      color: var(--ion-color-secondary);
    }
    .subtitle{
      margin: 58px 0;
    }
    .news-list{
      margin-bottom: 30px;
    }
    .text{
      text-align: left;
      max-width: 263px;
      max-height: 362px;
      display: inline-block;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
    }
  }

}

@media screen and (min-width: 1180px) {
  ion-content{
    .events, .news{
      position: relative;
      text-align: center;
      ion-card{
        width: calc((100% / 4) - 20px);
        display: inline-block;
        height: 350px;
        margin: 20px 10px;
        .card-content{
          height: 350px;
        }
      }
      h2{
        color: var(--ion-color-secondary);
        margin: 25px auto;
      }
      .subtitle{
        margin: 58px 0;
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 1179px) {
  ion-content{
    .events, .news{
      padding: 60px 0;
      h2{
      }
      .subtitle{
        margin: 38px 0;
      }
    }
  }
}
