<app-custom-titlebar></app-custom-titlebar>
<ion-content >
<h1 text-center>{{languages[lang].title}}</h1>
<ion-grid>
  <ion-row>
    <ion-col size-sm="4" size-xs="6"> 
     <ion-img src="assets/images/decoration/image-one.jpg"></ion-img>
    </ion-col>
    <ion-col size-sm="4" size-xs="6"> 
     <ion-img src="assets/images/decoration/image-one.jpg"></ion-img>
    </ion-col>
    <ion-col size-sm="4" size-xs="6"> 
     <ion-img src="assets/images/decoration/image-one.jpg"></ion-img>
    </ion-col>
    <ion-col size-sm="4" size-xs="6"> 
     <ion-img src="assets/images/decoration/image-one.jpg"></ion-img>
    </ion-col>
    <ion-col size-sm="4" size-xs="6"> 
     <ion-img src="assets/images/decoration/image-one.jpg"></ion-img>
    </ion-col>
    <ion-col size-sm="4" size-xs="6"> 
     <ion-img src="assets/images/decoration/image-one.jpg"></ion-img>
    </ion-col>
    <ion-col size-sm="4" size-xs="6"> 
     <ion-img src="assets/images/decoration/image-one.jpg"></ion-img>
    </ion-col>
     <ion-col size-sm="4" size-xs="6"> 
     <ion-img src="assets/images/decoration/image-one.jpg"></ion-img>
    </ion-col>
     <ion-col size-sm="4" size-xs="6"> 
     <ion-img src="assets/images/decoration/image-one.jpg"></ion-img>
    </ion-col>                             
  </ion-row>
</ion-grid>
</ion-content>
<app-custom-toolbar></app-custom-toolbar>