.title{position:absolute; width:100%; opacity:.8; background-color:#000; 
 font-family: 'Barlow Condensed', sans-serif;
color:#fff; height:50%; left:0; bottom:0; text-align:center; font-size:1.3rem; text-transform:uppercase
}
.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* vendor prefixes omitted due to brevity */
}