<app-custom-titlebar></app-custom-titlebar>
<ion-content >
<h1 text-center>{{languages[lang].title}}</h1>
<div class="padded">
<ion-img src="assets/images/reforms/image-one.jpg"></ion-img>
<p [innerHTML]="languages[lang].paragraph1"></p>
</div>
<hr />
<blockquote [innerHTML]="languages[lang].paragraph2"></blockquote>
<div class="padded">
<p [innerHTML]="languages[lang].paragraph3"></p>
</div>
<app-image-fade [imagen]="'reforms/image-two.jpg'"></app-image-fade>
</ion-content>
<app-custom-toolbar></app-custom-toolbar>