.wrapper{
  position:relative;
  .text-wrapper{
    position:absolute;
    bottom:0;
    padding:0 20px;
    }
 .text-wrapper > div{  font-size:1.6rem;     font-family: 'Playfair Display', serif; color:#fff}

}


