<app-custom-titlebar></app-custom-titlebar>
<ion-content >
<h1 text-center>{{languages[lang].title}}</h1>
<div class="wrapper">
<app-image-fade [imagen]="'reforms/image-one.jpg'"></app-image-fade>
 <div class="text-wrapper">
        <div [innerHTML]="languages[lang].paragraph1"></div>
</div>
</div>
<div class="padded">
<p [innerHTML]="languages[lang].paragraph2"></p>
</div>
<blockquote [innerHTML]="languages[lang].paragraph3"></blockquote>
<div class="padded">
<p [innerHTML]="languages[lang].paragraph4"></p>
</div>
<app-image-fade [imagen]="'reforms/image-two.jpg'"></app-image-fade>
</ion-content>
<app-custom-toolbar></app-custom-toolbar>