<ion-footer>
    <ion-icon name="call" (click)="goTo('tel:+34871038018')"></ion-icon>
    <div class="button-blank" (click)="goTo(languages[lang].bookNowLink)">{{languages[lang].bookNow}}</div>
    <ion-icon name="pin" (click)="goTo('https://goo.gl/maps/bQuVQ3oa3uJ8huyv8')"></ion-icon>
</ion-footer>
