ion-footer{
  position: relative;
  text-align: center;
  font-size: 0;
  height: 52px;
  background-color: var(--ion-color-primary);
  ion-icon{
    display: inline-block;
    color: #fff;
    margin: 10px 10px 10px 0;
    height: 30px;
    width: calc((100% / 3) - 30px);
  }
  .button-blank{
    vertical-align: top;
    margin-top: 10px;
  }
}
