// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-menu-button, ion-back-button{
  --color: #fff;
  margin: 10px;
}

ion-content{
  ul{
    li, p{
      font-family: 'Barlow Condensed', sans-serif;
    }
  }
  ion-card{
    --background: #000 !important;
  }
}

ion-menu {
  --ion-background-color: var(--ion-color-primary);
  --ion-text-color: #fff;
  ion-toolbar {
    --background: var(--ion-color-primary);
  }
  ion-list {
    background: transparent;
  }
}

*{
  box-sizing: border-box;
}

h1, h2, h3{
  position: relative;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 3px;
  color: var(--ion-color-primary);
}
h1{margin-bottom:30px}
h4, h5, h6 {
  position: relative;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  line-height: 1;
  font-size: 1rem;
  margin: 5px 0;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}

ul {
  list-style: none; /* Remove default bullets */
  li, p{
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
  }
}

ul {
  li::before {
    content: "\2022";
    color: var(--ion-color-primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
  }
}

p{
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.2 !important;
}

strong{
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--ion-color-primary);
}
blockquote{
  background-color:var(--ion-color-primary); margin:0; padding:20px 20px;
  font-family: 'Barlow Condensed', sans-serif;
}
blockquote.dark{
  background-color:#000;
  color:#fff;
}
hr { 
    background: url('/assets/icons/svg/divider.svg') no-repeat top center;
    background-size: contain;
    display: block;
    height: 40px;
    border: 0;
    position: relative;
    margin: 20px 0;
}
ion-card{
  -webkit-transition: all 250ms ease 250ms;
  -moz-transition: all 500ms ease 250ms;
  -o-transition: all 250ms ease 250ms;
  -ms-transition: all 250ms ease 250ms;
  transition: all 250ms ease 250ms;
}
.padded{padding:0 20px}
.shadow{
  -webkit-box-shadow: 0 0 10px 0 #a3a3a1;
  -moz-box-shadow: 0 0 10px 0 #a3a3a1;
  box-shadow: 0 0 10px 0 #a3a3a1;
}

.header-desktop{
  display: block;
}

.overlay{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.header{
  position: relative;
  background-position: center;
  background-size: cover;
  .text-box{
    position: absolute;
    h1, p {
      color: #fff;
      margin: 0;
      font-weight: 700;
    }
    p{
      text-transform: uppercase;
    }
  }
}

.button-blank, .button-primary, .button-secondary, .button-tertiary, .button-different{
  position: relative;
  padding: 7px 20px;
  text-transform: uppercase;
  width: auto;
  font-size: 13px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin: 47px auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.button-blank{
  color: #fff;
  border: 1px solid #fff;
}

.button-primary{
  color: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);
}

.button-secondary{
  color: var(--ion-color-secondary);
  border: 1px solid var(--ion-color-secondary);
}

.button-tertiary{
  color: var(--ion-color-tertiary);
  border: 1px solid var(--ion-color-tertiary);
}
.button-different{
  color: var(--ion-color-tertiary-rgb);
  border: 1px solid var(--ion-color-tertiary-rgb);
}

.custom-menu {
  color: #fff;
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 2px 0;
      padding: 0;
      font-family: 'Barlow Condensed', sans-serif;
      text-transform: uppercase;
      &::before{
        content: '';
      }
    }
  }
  .menu-container {
    position: relative;
    padding: 30px 0;
    height: 100%;
    width: 100%;
    margin: 0;
    .brand{
      background-image: url("/assets/logos/svg/logo.svg");
      background-position: center;
      background-size: cover;
      width: 53px;
      height: 68px;
      display: block;
      margin: 30px 20px;
    }
    .scroll-zone{
      height: 60%;
      overflow-y: auto;
      ul{
        margin: 0 20px;
        padding: 10px 0;
        border-top: 1px solid #fff;
        &:last-child{
          border-bottom: 1px solid #fff;
        }
        li, li p{
          position: relative;
          width: 100%;
          font-weight: 600;
          letter-spacing: 2px;
          font-size: 20px !important;
          margin-left: 10px;
          p{
            margin: 0;
            &::after{
              content: '';
              position: absolute;
              height: 9px;
              width: 8px;
              right: 11px;
              top: 7px;
              background-image: url("/assets/icons/svg/arrow-right.svg");
              background-size: cover;
              background-position: center;
            }
          }
          span{
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            letter-spacing: 2px;
            &.dropDownMenu{
              -webkit-transition: all 250ms ease 250ms;
              -moz-transition: all 500ms ease 250ms;
              -o-transition: all 250ms ease 250ms;
              -ms-transition: all 250ms ease 250ms;
              transition: all 250ms ease 250ms;
              float: right;
            }
          }
          .dropDownMenu{
            &::after{
              content: '';
              position: absolute;
              height: 9px;
              width: 8px;
              right: 11px;
              top: 7px;
              background-image: url("/assets/icons/svg/arrow-right.svg");
              background-size: cover;
              background-position: center;
            }
            &.blue{
              &::after{
                background-image: url("/assets/icons/svg/arrow-down.svg");
                width: 9px;
                height: 8px;
              }
            }
          }
        }
      }
      .dropDown{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        ul{
          border: 0;
          &:last-child{
            border: 0;
          }
        }
      }
    }
    .language-switcher {
      color: #fff;
      width: 100%;
      margin: 15px auto 0 auto;
      position: relative;
      height: 55px;
      .lang{
        position: relative;
        margin-left: 18px;
        padding: 0 15px 0 25px;
        &::before, &::after{
          content: '';
          position: absolute;
          background-position: center;
          background-size: cover;
          display: block;
        }
        &::before{
          background-image: url("/assets/icons/svg/lang.svg");
          left: 0;
          top: 2px;
          width: 19px;
          height: 19px;
        }
        &::after{
          background-image: url("/assets/icons/svg/arrow-down.svg");
          right: 0;
          top: 8px;
          width: 11px;
          height: 5px;
        }
        ul{
          margin: 0;
          padding: 0;
          border: 0;
          li{
            font-size: 1rem;
            color: #fff;
            letter-spacing: 1px;
            font-weight: 500;
          }
        }
      }
      .lang, .social{
        display: inline-block;
        vertical-align: middle;
        width: calc((100% / 2) - 10px);
      }
    }
    .address{
      margin: 10px 20px;
      .schedules{
        .title{
          text-transform: uppercase;
          color: #fff;
          font-weight: 500 !important;
          font-size: 14px !important;
          margin: 0 0 5px 0;
        }
        ul{
          margin: 0;
          li{
            &::before {
              margin-left: 0;
            }
          }
        }
        p{
          font-size: 10px !important;
          font-weight: 500;
        }
      }
    }

  }
}

@media screen and (max-width: 1179px) and (min-width: 1px){
  .language-pop-over-mobile{
    .popover-content{
      top: 50px !important;
      left: 15px !important;
      width: 130px;
      max-width: 130px !important;
      background: rgba(var(--ion-background-color-rgb,255,255,255),1) !important;
      ul{
        list-style: none;
        margin: 20px;
        padding: 0;
        text-align: left;
        text-transform: uppercase;
        li::before {
          content: '';
          color: var(--ion-color-secondary);
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
          position: absolute;
        }
      }
    }
  }
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 20px;
  }
  p{
    font-size: 16px !important;
  }
  ion-content{
    .intro-content{
      background-color: #fff;
      padding: 60px 0;
      h1{
        margin: 0 auto 30px auto;
        max-width: 250px;
        line-height: 1.3;
      }
      p{
        width: 85%;
        margin: 0 auto;
        br{
          display: none;
        }
      }
    }
  }
  ion-nav{
    position: relative;
  }
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    ion-card {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      text-align: center;
      box-sizing: content-box;
      display: inline-block;
      vertical-align: top;
      width: calc(100% / 1.5);
      margin: 10px 5px;
      .card-content {
        background-size: cover;
        background-position: center;
        height: 350px;
        .text {
          white-space: pre-wrap;
          text-transform: uppercase;
        }
        .category{
          background-color: #fff;
          color: var(--ion-color-primary);
          padding: 7px 15px;
          margin: 15px 0 0 10px;
          float: left;
          font-size: 12px;
          font-weight: 700;
        }
        .date{
          background-color: var(--ion-color-primary);
          color: #fff;
          padding: 7px 15px;
          margin: 0;
          float: right;
          font-size: 13px;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (min-width: 1180px) {
  .viewport {
    box-sizing: border-box;
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    height: auto;
  }
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 21px;
  }
  p{
    font-size: 15px;
  }
  .scrolling-wrapper {
    ion-card {
      text-align: center;
      box-sizing: content-box;
      display: inline-block;
      vertical-align: top;
      width: calc(100% / 4);
      .card-content {
        background-size: cover;
        background-position: center;
        height: 450px;
        .text {
          white-space: pre-wrap;
          text-transform: uppercase;
        }
      }
    }
  }
  ion-content{
  }
  .header-desktop{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    color: #fff;
    padding: 20px 0 20px 0;
    background-image: url("/assets/images/background-header-desktop.png");
    height: 87px;
    max-height: 87px;
    -webkit-transition: all 250ms ease 250ms;
    -moz-transition: all 500ms ease 250ms;
    -o-transition: all 250ms ease 250ms;
    -ms-transition: all 250ms ease 250ms;
    transition: all 250ms ease 250ms;
    opacity: 1;
    &.scrolled{
      //opacity: 0;
    }
    &.different{
      background-image: none;
      background-color: rgba(122,165,186, 0.8);
    }
    .brand{
      position: relative;
      display: inline-block;
      background-image: url("/assets/logos/svg/logo.svg");
      background-size: cover;
      width: 121px;
      height: 43px;
      z-index: 11;
    }
    .menu{
      color: #fff;
      position: relative;
      display: inline-block;
      vertical-align: top;
      top: 5px;
      z-index: 11;
      ul{
        list-style: none;
        // .user
        // margin: 0 20px;
        margin: 0 15px 0 20px;
        display: inline-block;
        padding: 0;
        li{
          display: inline-block;
          margin: 0 10px;
          font-size: 13px;
          font-weight: 500;
          text-align: left;
          text-transform: uppercase;
          cursor: pointer;
          vertical-align: top;
          &::before{
            content: '';
          }
        }
        .hasSubmenu {
          position: relative;
          z-index: 11;
          .submenu{
            position: absolute;
            background-color: #fff;
            display: none;
            margin: 0;
            left: 50%;
            top: 25px;
            z-index: 11;
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            /*
            &::before{
              content: '';
              position: absolute;
              top: -9px;
              left: 50%;
              -webkit-transform: translate(-5%, 0);
              -moz-transform: translate(-5%, 0);
              -ms-transform: translate(-5%, 0);
              -o-transform: translate(-5%, 0);
              transform: translate(-5%, 0);
              background-image: url("/assets/icons/svg/arrow-menu.svg");
              background-size: cover;
              background-position: center;
              width: 24.2px;
              height: 10px;
              display: block;
            }
            */
            ul{
              position: relative;
              display: block;
              padding: 0;
              margin: 0;
              li{
                display: block;
                margin: 0;
                padding: 10px;
                border: 0;
                color: var(--ion-color-primary);
                font-size: 11px;
                text-align: center;
                &.menu-line{
                  background-color: var(--ion-color-primary);
                  height: 1px;
                  width: 75%;
                  margin: 0 auto;
                  display: block;
                  padding: 0;
                }
              }
            }
          }
        }
      }
      .language-switcher{
        position: relative;
        top: 5px;
        display: inline-block;
        vertical-align: top;
        width: 35px;
        margin-left: 10px;
        &::before, &::after{
          content: '';
          background-size: cover;
          position: absolute;
          background-position: center;
          display: inline-block;
        }
        &::before{
          background-image: url("/assets/icons/svg/lang.svg");
          width: 19px;
          height: 19px;
          left: 0;
        }
        &::after{
          background-image: url("/assets/icons/svg/arrow-down.svg");
          width: 11px;
          height: 6px;
          right: 0;
          top: 7px;
        }
        li{
          margin: 0;
        }
      }
      .user{
        position: relative;
        display: inline-block;
        background-image: url("/assets/icons/svg/user.svg");
        background-size: cover;
        background-position: center;
        width: 23px;
        height: 22px;
        margin: 0 10px;
      }
      .button-blank{
        display: inline-block;
        margin: 0 10px;
        top: -5px;
      }
    }
  }
  ion-header {
    .brand {
      position: relative;
      display: block;
      text-align: left;
      // background-image: url("assets/logo.png");
      background-size: cover;
      width: 100px;
      height: 28px;
      margin: 0 auto;
    }
  }
  .ion-page {
    width: 100%;
  }
  .language-pop-over{
    .popover-content{
      top: 63px !important;
      right: -50% !important;
      transform: translate(-50%, 0) !important;
      width: 130px;
      max-width: 130px !important;
      background: rgba(var(--ion-background-color-rgb,255,255,255),1) !important;
      ul{
        list-style: none;
        margin: 20px;
        padding: 0;
        text-align: left;
        li::before {
          content: '';
          color: var(--ion-color-secondary);
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
          position: absolute;
        }
      }
    }
  }
}

.swiper-pagination{
  bottom: 80px !important;
}
.swiper-pagination-bullet{
  background: #fff !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active{
  background: transparent !important;
  border: 1px solid #fff !important;
}

@keyframes mouse-movement { 0%   { bottom: 10px; } 50% {bottom:30px;} 100% { bottom: 10px; }}
@keyframes mouse-movement { 0%   { bottom: 10px; } 50% {bottom:30px;} 100% { bottom: 10px; }}
@-webkit-keyframes mouse-movement { 0%   { bottom: 10px; } 50% {bottom:30px;} 100% { bottom: 10px; }}

.scroll-down-mouse{
  position: fixed;
  bottom: 30px;
  transform: rotate(0deg);
  background: url("/assets/icons/svg/mouse-down.svg") 50% 50% no-repeat;
  background-size: 20px;
  width: 100%;
  height: 34px;
  z-index: 2000;
  -webkit-animation-name: mouse-movement;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-name: mouse-movement;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
app-about-us{
  ion-content{
    ul{
      li{
        margin: 10px 0;
      }
    }
  }
}
.custom-menu{
  a{
    color: #fff !important;
    text-decoration: none;
  }
}
