<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <app-custom-header></app-custom-header>
  <div class="blog-header">
    <div class="thumbnail" *ngIf="image" [ngStyle]="{'background-image': 'url(' + image + ')'}">
      <div class="blog-navigator"></div>
    </div>
  </div>
  <div padding>
    <div class="viewport">
      <div class="labels"></div>
      <div class="date">{{date}}</div>
      <h1 class="blog-title">{{(blog | async)?.title}}</h1>
      <div class="blog-content" [innerHTML]="(blog | async)?.content"></div>
    </div>
  </div>
</ion-content>
<app-custom-footer *ngIf="screenW < 1180"></app-custom-footer>
