@media screen and (min-width: 1px) and (max-width: 1180px){
  ion-content{
    .blog-header{
      margin-top: 0;
    }
  }
}
ion-content{
  .blog-header{
    position: relative;
    .thumbnail{
      display: block;
      background-position: top;
      background-size: cover;
      height: 45vh;
      width: 100%;
    }
    .blog-navigator{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      background-color: rgba(0,0,0,0.5);
    }
  }
  .date{
    color: #787878;
    text-transform: uppercase;
  }
  .blog-title{
    text-transform: uppercase;
    text-align: left;
    font-size: 1.2rem;
    font-family: Lato !important;
  }
  .blog-content{
    position: relative;
    color: #707070;
    img{
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 1180px){
  .viewport{
    box-sizing: border-box;
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
  }
  ion-content{
    .blog-header{
      margin-top: 101px;
    }
  }
}
