<ion-content class="ion-content" [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <app-custom-header></app-custom-header>
    
    <div class="full-screen">
        <div class="overlay"></div>
        <div class="brand-action"></div>
        <div class="brand-middle"></div>
    </div>
</ion-content>
