ion-content {
  .full-screen{
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  .brand-action{
    background-image: url("/assets/logos/svg/logo.svg");
    background-size: cover;
    background-position: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    opacity: 0;
    &.show{
      opacity: 1;
    }
  }
  .brand-middle{
    background-image: url("/assets/logos/svg/logo-full.svg");
    background-size: cover;
    background-position: center;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1180px) {
  ion-content{
    .full-screen{
      background-image: url("/assets/images/background-home-desktop.jpg");
    }
    .brand-action{
      width: 193px;
      height: 249px;
    }
    .brand-middle{
      width: 454px;
      height: 51px;
      bottom: 230px;
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 1179px) {
  ion-content {
    .full-screen{
      background-image: url("/assets/images/background-home-mobile.jpg");
    }
    .brand-action{
      width: 143px;
      height: 179px;
    }
    .brand-middle{
      width: 338px;
      height: 36px;
      bottom: 130px;
    }
  }
}
